.App {
  text-align: center;
}

.button {
  border: none;
  background-color: #FFE5EC;
  text-align: center;
  padding: 20px 100px;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
}

/*
.App-Centering{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/