@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jua&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.button {
  border: none;
  background-color: #FFE5EC;
  text-align: center;
  padding: 20px 100px;
  border-radius: 10px;
  margin: 10px;
  font-size: 30px;
}

.maintitle{
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.maintitle2{
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.App-Centering{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

