@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Jua&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.body {
  background-color: #f7f3ed;
}

.button {
  border: none;
  background-color: #f5d3dc;
  text-align: center;
  padding: 20px 100px;
  border-radius: 10px;
  margin: 10px;
  font-size: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.199);
}

.maintitle {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.maintitle2 {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.App-background {
  background-image: url("http://localhost:3000/graph_paper2.png");
  background-size: "cover";
  height: 100vh;
  background-repeat: repeat;
  background-position: center;
  /* height: 100vh;
  background-color: #f5f4f2; */
}
.App-Centering {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}