.catalogcontainer {
  display: flex;
  justify-content: center;
  width: 100vh;
  gap: 0em;
  flex-grow: 1;
  align-items: center;
}

.pickers {
  display: flex;
  justify-content: center;
}

.catalogcolumn1,
.catalogcolumn2,
.catalogcolumn3,
.catalogcolumn4 {
  flex: 1;
  /* Each column takes equal space */
  background-color: rgb(226, 226, 226);
  width: 15em;
  height: 17em;
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
}


.radio-group {
  display: flex;
  flex-direction: column; /* stack radio buttons vertically */
  align-items: flex-start; /* align to the left */
  gap: 10px; /* space between radio buttons */
  margin-left: -10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column; /* stack buttons vertically */
  align-items: flex-start; /* align to the left */
  gap: 10px;
  margin-left: -10px;
}

.backbutton {
  border: none;
  background-color: #FFE5EC;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px;
  font-size: 15px;
}


.sketch-picker {
  box-shadow: none !important; /* remove shadow */
  border: 1px solid #ccc;
}