.radio-group2 {
    display: flex;
    align-items: center; /* align to the left */
    gap: 30px; /* space between radio buttons */
    margin-top: 30px;
  }


.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    margin-bottom: 1.5rem; 
  }
  
  .image-item {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

.lower-buttons{
    display: flex;
    align-items: center; 
}
