.radio-group2 {
    display: flex;
    align-items: center; /* align to the left */
    gap: 30px; /* space between radio buttons */
    margin-top: 30px;
  }


.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    margin-bottom: 1.5rem; 
  }
  
  .image-item {
    width: 85%;
    height: auto;
    margin-left: px;
    border-top: 10px solid #ffffff;
  }

.lower-buttons{
    display: flex;
    align-items: center; 
}


.polaroid {
  width: 21vw;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.199);
} 

.polaroid-label {
  font-size: 16px;
  padding-bottom: 9%;
  padding-top: 9%;
}

.rating-select {
  border: rounded px-2 py-1;
  border-color: #cacaca;
  background-color: #ffffff;
  font-size: 16px;
  padding: 1vw;
  margin: 1vw;
  border-radius: 10px;
  accent-color: #debfe6;
}

.select-row {
  display: flex;
  gap: 0vw; /* space between the selects */
  justify-content: center;
  align-items: flex-start;
  /* background-color: #c8daf3;; */
  background-color: #ffffff;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.199);
  border-radius: 10px;

}

.select-group {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.select-label {
  font-size: 16px;
  font-weight: 400;
}