.column1,
.column2,
.column3 {
  flex: 1;
  /* Each column takes equal space */
  background-color: rgb(226, 226, 226);
  width: 0em;
  height: 24em;
  margin: 10px;
  padding: 30px 30px;
  text-align: center;
  border-radius: 10px;
}


/* .backbutton {
  border: none;
    background-color: #FFE5EC;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    font-size: 15px;
} */

.radio-group {
  display: flex;
  flex-direction: column; /* stack radio buttons vertically */
  align-items: flex-start; /* align to the left */
  gap: 20px; /* space between radio buttons */
  margin-top: 30px;
}